[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
python-cartolafc = {ref = "feature/resultados", git = "git+https://github.com/jquentino/python-cartolafc2.git"}
matplotlib = "*"
pulp = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
